$primary: rgb(0, 132, 255);
$error: red;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: $primary;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 98vw;
	margin: 0 auto;
	padding: 1rem;
	background-color: #fff;
}

.text-center {
	text-align: center;
}

.login {
	.container {
		max-width: 460px;
		margin: 3rem auto;
		padding: 2rem;
		border: 1px solid #ddd;
		border-radius: 0.25rem;
		background-color: #fff;
	}
}

.input {
	appearance: none;
	display: block;
	width: 100%;
	color: #333;
	border: 1px solid rbg(180, 180, 180);
	background-color: white;
	padding: 1rem;
	border-radius: 0.25rem;
	&.input-error {
		border: 1px solid $error;
		&:focus {
			border: 1px solid $error;
		}
	}
	&:focus {
		outline: none;
		border: 1px solid $primary;
		background-clip: padding-box;
	}
}

.error-message {
	font-size: 0.85rem;
	color: $error;
}

.button {
	background-color: $primary;
	padding: 1rem;
	border: none;
	color: #fff;
	font-weight: bold;
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	&:hover {
		filter: brightness(110%);
	}
}
